/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Jun-2017, 10:53:47
    Author     : Tom
*/

main {
    width: 800px;
}
h1 {
    margin-bottom: 0;
    font-family: Gill Sans, sans-serif;
}
section div {
    overflow: hidden; /* prevents slideToggle jump */
}
p {
    font-family: Times New Roman, serif;
}
form {
    margin-top: 10px;
}
.active {
    cursor: pointer;
}

.inner {
    margin-left: 20px;
}


.current {
    font-weight: bold;
    color: red;
}
